//
   Created by daniel on 08.07.2015
// Hinzufügen einer einzelnen Mitgliedschaft

extends layout
block content
    h2 Mitgliedschaft hinzuf&uuml;gen
    form(action='/add_membership/'+user_id,method='post')
        label(for='name')
            b Gremium:&nbsp
                select(name='committee')
                    //Alle Gremien in select eintragen
                    each comm, index in committees
                        <option value="#{comm._id}">#{comm._name}</option>
        br
        div
            label(for='from')
                b &nbsp;von:&nbsp;
                    input(type='date',value='',placeholder='Von: ',name='from',onchange="validateTimeframe(this.parentNode.parentNode.parentNode)")
            br
            label(for='successor')
                b &nbsp;Nachr&uuml;cker&nbsp;
                    input(type='checkbox',name='successor',value="true",onchange="validateTimeframe(this.parentNode.parentNode.parentNode)")
        br
        label(for='to')
            b &nbsp;bis:&nbsp;
                input(type='date',value='',placeholder='Von: ',name='to')
        br
        label(for='reason')
            b &nbsp;von:&nbsp;
                input(type='text',value='',placeholder='Grund: Ein/Austritt ',name='reason')
        br
        label(for='period_id')
            b Amtsperiode:&nbsp
                select(name='period_id')
                    //Alle Amtsperioden in select eintragen
                    each per, index in periods
                        <option value="#{per._id}">#{moment(per.from).format("DD.MM.YYYY")} - #{moment(per.to).format("DD.MM.YYYY")} </option>
        br
        label(for='council_id')
            b Fachschaft:&nbsp
                select(name='council_id')
                    //alle Fachschaften in select eintragen
                    each cou, index in councils
                        <option value="#{cou._id}">#{cou._name}</option>
        button(type="submit") Abschicken