extends layout

block content

  a(href='/signout', class='text-center new-account') Ausloggen
  p #{message}
  h1 Admininterface
    hr
  //Interface um Nutzer anzulegen
  div
        h2 Nutzer Anlegen
        form(action='/create_grem_user',method='post')
            include create_user_form
            include create_council_membership_form
            include create_grem_form

            div
               button(type='submit',id='submitCreateUser') Nutzer anlegen
  h2 Mehrere Nutzer anlegen (ohne Mitgliedschaften)
  a(href='/create_multiple_user') Zum Formular
  hr
  //Tabelle erstellen um Nutzerdaten und links zum Bearbeiten bzw. Hinzufügen von Gremienmitgliedschaften und Fachschaftsmitgliedschaften einfügen
  h2 Nutzer &auml;ndern
  table(border= '1px')
    thead
        tr
            td.hidden ID
            td Vorname
            td Nachname
            td Nuterkennzeichen
            td Matrikelnummer
            td bearbeiten
            td Gremienmitgliedschaft hinzuf&uuml;gen
            td Fachschaftmitgliedschaft hinzuf&uuml;gen
    tbody
    //Iteration über alle Mitglieder
    each object in grm_members
        tr
            td.hidden=object._id
            td=object.firstname
            td=object.lastname
            td=object.nkz
            td=object.matr_nr
            td
                    a(href='/edit_grm_user/'+object._id)
                        span.glyphicon.glyphicon-edit
            td
                    a(href='/add_membership/'+object._id)
                        span.glyphicon.glyphicon-plus
            td
                a(href='/add_membership_council/'+object._id)
                    span.glyphicon.glyphicon-plus
  hr
  h2 Gremien
  a(href='/create_committee') Gremium erstellen
  //Tabelle mit allen Gremien welche direkt von dort aus bearbeitet werden können
  table(border= '1px')
      thead
          tr
            td.hidden ID
            td Namen
            td Beschreibung
            td bearbeiten
      tdbody
      //Iteration über alle Gremien
      each comm,index in committees
          tr
            form(action='/edit_committee/'+comm._id, method='post', name='edit_committee'+index)
                td.hidden
                    input(value=comm._id,name='id')
                td
                    input(type='text',value=comm._name,name='_name')
                td
                    input(type='text', value=comm.description,name='description')
                td
                    a(href='#',onclick="edit_committee"+index+".submit()")
                        span.glyphicon.glyphicon-edit
  hr
  h2 Fachschaften
  a(href='/create_student_council') Fachschaft erstellen
  //Tabelle mit allen Fachschaften erzeugen die von dort auch aus bearbeitet werden können
  table(border= '1px')
        thead
            tr
                td.hidden ID
                td Namen
                td bearbeiten
        tdbody
        //Iteration über alle Fachschaften
        each council,index in student_council
            tr
                form(action='/edit_student_council/'+council._id, method='post', name='edit_student_council'+index)
                    td.hidden
                        input(value=council._id,name='id')
                    td
                        input(type='text',value=council._name,name='_name')
                    td
                        a(href='#',onclick="edit_student_council"+index+".submit()")
                            span.glyphicon.glyphicon-edit
  hr
  h2 Amtsperioden
  a(href='/create_period') Amtsperiode erstellen
  //Tabelle mit allen Amtsperioden erzeugen, welche von dort aus auch bearbeitet werden können.
  table(border= '1px')
        thead
            tr
                td.hidden ID
                td von
                td bis
                td bearbeiten
        tdbody
        //Iteration über alle Amtsperioden
        each period,index in periods
            tr
                form(action='/edit_period/'+period._id, method='post', name='edit_period'+index)
                    td.hidden
                        input(value=period._id,name='id')
                    td
                        input(type='date',value=moment(period.from).format("YYYY-MM-DD"),name='from')
                    td
                        input(type='date',value=moment(period.to).format("YYYY-MM-DD"),name='to')
                    td
                        a(href='#',onclick="edit_period"+index+".submit()")
                            span.glyphicon.glyphicon-edit
  hr
  //Link zum Suchinterface
  a(href='/search') zum Suchinterface