//
   Created by daniel on 14.06.2015.
include layout
block content
    h3=user
    h3=memberships
    h3=councils
    h1 Nuter &auml;ndern

    form(action='/edit_grm_user/'+user._id,method='post')
        div
            h3 Nutzerdaten
        div
            input(name='_id',type='hidden',value=user._id)
        div
            label(for='name')
                b Name:&nbsp
                    input(id='name',type='text',value=user.lastname,placeholder='Namen hier eintragen',name='firstname', required)
        div
            label(for='vorname')
                b Vorname:&nbsp
                    input(id='vorname',type='text',value=user.firstname,placeholder='Vornamen hier eintragen',name='lastname', required)
        div
            label(for='matrikelnummer')
                b Matrikelnummer (optional):&nbsp
                    input(id='matrikelnummer',type='number',value=user.matr_nr,placeholder='Matrikelnummer',name='matr_nr',min=100000,max=999999)
        div
            label(for='nkz')
                b Nutzerkennzeichen:&nbsp
                    input(id='nkz',type='text',value=user.nkz,placeholder='Nutzerkennzeichen',name='nkz', required)
        div
        each council,index in councils
            div
                label(for='councils['+index+'][council_id]')
                    b Fachschaftsmitgliedschaft:&nbsp
                        select(name='councils['+index+'][council_id]')
                            each fachschaft in student_council
                                if (fachschaft._id == council.council_id)
                                    <option value="#{fachschaft._id}" selected>#{fachschaft._name}</option>
                                else
                                    <option value="#{fachschaft._id}">#{fachschaft._name}</option>
                label(for='councils['+index+'][from]')
                    b &nbsp;von:&nbsp;
                        input(type='date',value=moment(council.from).format("YYYY-MM-DD"),placeholder='Von: ',name='councils['+index+'][from]')
                label(for='councils['+index+'][to]')
                    b &nbsp;bis:&nbsp;
                        input(type='date',value=moment(council.to).format("YYYY-MM-DD"),placeholder='Bis: ',name='councils['+index+'][to]')
                        input(type='hidden',value=user._id,name='councils['+index+'][user_id]')
                        input(type='hidden',value=council._id,name='councils['+index+'][_id]')
                        button(style='display: none',type='button',onclick='deleteCouncil(this.parentNode.parentNode.parentNode)') &#045;
        each membership,index in memberships
            div
                label(for='comm['+index+'][committee]')
                    b Gremienmitgliedschaft:&nbsp
                        select(name='comm['+index+'][committee]')
                            each gremium, i in committees
                                if (gremium._id == membership.grem_id)
                                    <option selected value="#{gremium._id}">#{gremium._name}</option>
                                else
                                    <option value="#{gremium._id}">#{gremium._name}</option>
                label(for='comm['+index+'][from]')
                    b &nbsp;von:&nbsp;
                        input(type='date',value=moment(membership.from).format("YYYY-MM-DD"),placeholder='Von: ',name='comm['+index+'][from]')
                label(for='comm['+index+'][period_id]')
                    b Amtszeit:&nbsp
                        select(name='comm['+index+'][period_id]')
                            each period in periods
                                if (membership.period_id == period._id)
                                    <option value="#{period._id}" selected>#{moment(period.from).format("DD.MM.YYYY")} - #{moment(period.to).format("DD.MM.YYYY")}</option>
                                else
                                    <option value="#{period._id}">#{moment(period.from).format("DD.MM.YYYY")} - #{moment(period.to).format("DD.MM.YYYY")}</option>
                label(for='comm['+index+'][to]')
                    b &nbsp;bis:&nbsp;
                        input(type='date',value=moment(membership.to).format("YYYY-MM-DD"),placeholder='Bis: ',name='comm['+index+'][to]')

                div
                    label(for='comm['+index+'][reason]')
                        b Grund f&uuml;r Austritt/Eintritt ausserhalb der Amtsperiode&nbsp;
                            input(type='text',value=membership.reason,placeholder='Grund Austritt/Eintritt ',name='comm['+index+'][reason]')

                br
                label(for='FS')
                    b Fachschaftsmitgliedschaft:&nbsp
                        select(value=membership.council_id, name='comm['+index+'][council_id]')
                            each fachschaft in student_council
                                if (fachschaft._id == membership.council_id)
                                    <option selected value="#{fachschaft._id}">#{fachschaft._name}</option>
                                else
                                    <option value="#{fachschaft._id}">#{fachschaft._name}</option>
                     input(type='hidden',name='comm['+index+'][membership_id]',value=membership._id)
                br
                label(for='successor')
                    b Nachr&uuml;cker:&nbsp;
                        if membership.successor
                            input( type="checkbox" name='comm['+index+'][successor]' value="true" checked)
                        else
                            input( type="checkbox" name='comm['+index+'][successor]' value="true")
        br
        button(type='submit',title='Aenderungen abschicken',) Best&auml;tigen