//
   Created by daniel on 14.06.2015.
include layout
script(type='text/javascript').
    var array = 0;
    function raiseArray(){
        array++;
        alert(array);
    }
    function cloneGrm(){
        array ++;
        var clonegrm = document.getElementById('Grm').cloneNode(true);
        clonegrm.classList.remove("hidden");
        clonegrm.getElementsByTagName("button")[0].removeAttribute("style");
        clonegrm.getElementsByTagName("select")[0].setAttribute("name", "comm["+array+"][committee]");
        clonegrm.getElementsByTagName("select")[1].setAttribute("name", "comm["+array+"][council_id]");
        clonegrm.getElementsByTagName("input")[0].setAttribute("name", "comm["+array+"][from]");
        clonegrm.getElementsByTagName("input")[1].setAttribute("name", "comm["+array+"][to]");
        clonegrm.getElementsByTagName("input")[2].setAttribute("name", "comm["+array+"][reason]");

        document.getElementById('insertGrm').appendChild(clonegrm);
    }
    function deleteGrm(child){
        var node = document.getElementById("insertGrm");
        node.removeChild(child);
        array--;
    }

block content
    h3=user
    h3=memberships
    h1 Nuter &auml;ndern

    div#Grm.hidden
        label(for='comm[0][committee]')
            b Gremienmitgliedschaft:&nbsp
                select(list='gremien' autocomplete='on', type='text', value='', placeholder='Gremium ausw\u00e4hlen', name='comm[0][grem_id]')
                    each gremium, index in committees
                        <option value="#{gremium._id}">#{gremium._name}</option>
        label(for='comm[0][from]')
            b &nbsp;von:&nbsp;
                input(type='date',value='',placeholder='Von: ',name='comm[0][from]')
        label(for='comm[0][to]')
            b &nbsp;bis:&nbsp;
                input(type='date',value='',placeholder='Bis: ',name='comm[0][to]')
                button(style='display: none',type='button',id='DelFS',onclick='deleteGrm(this.parentNode.parentNode.parentNode)') &#045;
        div
            label(for='comm['+index+'][reason]')
                b Grund f&uuml;r Austritt/Eintritt ausserhalb der Amtsperiode&nbsp;
                    input(type='text',placeholder='Grund Austritt/Eintritt ',name='comm[0][reason]')

        br
        label(for='comm[0][council_id]')
            b Fachschaftsmitgliedschaft:&nbsp
                select(autocomplete='off', value='', placeholder='Fachschaft ausw\u00e4hlen', name='comm[0][council_id]')
                    each fachschaft in student_council
                        <option value="#{fachschaft._id}">#{fachschaft._name}</option>
        br

    form(action='/edit_grm_user/'+user._id,method='post')
        div
            h3 Nutzerdaten
        div
            input(name='_id',type='hidden',value=user._id)
        div
            label(for='name')
                b Name:&nbsp
                    input(id='name',type='text',value=user.lastname,placeholder='Namen hier eintragen',name='firstname', required)
        div
            label(for='vorname')
                b Vorname:&nbsp
                    input(id='vorname',type='text',value=user.firstname,placeholder='Vornamen hier eintragen',name='lastname', required)
        div
            label(for='matrikelnummer')
                b Matrikelnummer (optional):&nbsp
                    input(id='matrikelnummer',type='number',value=user.matr_nr,placeholder='Matrikelnummer',name='matr_nr',min=100000,max=999999)
        div
            label(for='nkz')
                b Nutzerkennzeichen:&nbsp
                    input(id='nkz',type='text',value=user.nkz,placeholder='Nutzerkennzeichen',name='nkz', required)
        div
        each membership,index in memberships
            div
                label(for='comm['+index+'][committee]')
                    b Gremienmitgliedschaft:&nbsp
                        select(value=membership.grem_id, name='comm['+index+'][committee]')
                            each gremium, i in committees
                                <option value="#{gremium._id}">#{gremium._name}</option>
                label(for='comm['+index+'][from]')
                    b &nbsp;von:&nbsp;
                        input(type='date',value=moment(membership.from).format("YYYY-MM-DD"),placeholder='Von: ',name='comm['+index+'][from]')
                label(for='comm['+index+'][to]')
                    b &nbsp;bis:&nbsp;
                        input(type='date',value=moment(membership.to).format("YYYY-MM-DD"),placeholder='Bis: ',name='comm['+index+'][to]')
                        button(style='display: none',type='button',id='DelFS',onclick='deleteGrm(this.parentNode.parentNode.parentNode)') &#045;

                div
                    label(for='comm['+index+'][reason]')
                        b Grund f&uuml;r Austritt/Eintritt ausserhalb der Amtsperiode&nbsp;
                            input(type='text',value=membership.reason,placeholder='Grund Austritt/Eintritt ',name='comm['+index+'][reason]')

                br
                label(for='FS')
                    b Fachschaftsmitgliedschaft:&nbsp
                        select(onload='raiseArray()',autocomplete='off', value=membership.council_id, name='comm['+index+'][council_id]')
                            each fachschaft in student_council
                                <option value="#{fachschaft._id}">#{fachschaft._name}</option>
                     input(type='hidden',name='comm['+index+'][membership_id]',value=membership._id)
                br
                label(for='successor')
                    b Nachr&uuml;cker:&nbsp;
                        if membership.successor
                            input( type="checkbox" name='comm['+index+'][successor]' value="true" checked)
                        else
                            input( type="checkbox" name='comm['+index+'][successor]' value="true")
        div#insertGrm
        div#cloneGrm
        button(type='button',id='CloneGrmbutton',onclick="cloneGrm()",title='hinzufuegen') &#043;
        br
        button(type='submit',title='Aenderungen abschicken',) Best&auml;tigen