//
   Created by daniel on 04.07.2015.
    Suchergebnisse darstellen
extends layout

block content
    h1 Suchergebnisse
    a(href='/search') Zur&uuml;ck zum Suchinterface
    - var n = 0
    each usr,i in users
        each mem,k in memberships
            //Wenn mitgliedschaft dem User gehört und ncoh kein Ergebnis abgedruckt wurde, wird diese Mitglidschaft zusammen mit den Nutzerdaten abgedruckt, ansonsten nur die Mitgliedschaft.
            if (mem.user_id == usr._id)
                if(n==0)
                      h3 Ergebnis #{i+1}:
                      h4 Nutzerdaten
                      p Vorname: #{usr.firstname}
                      p Nachname: #{usr.lastname}
                      p Matrikelnummer: #{usr.matr_nr}
                      p Nutzerkennzeichen: #{usr.nkz}
                      hr
                      h4 Gremienmitgliedschaft
                      each comm in committees
                          if(comm._id == mem.grem_id)
                            p Gremium: #{comm._name}
                      p Von: #{moment(mem.from).format("DD.MM.YYYY")}
                      if(mem.successor)
                          p Nachr&uuml;cker: ja
                      else
                          p Nachr&uuml;cker: nein
                      p Bis: #{moment(mem.to).format("DD.MM.YYYY")}
                      p Grund: #{mem.reason}
                      each per in periods
                          if(mem.period_id == per._id)
                              p Periode: #{moment(per.from).format("DD.MM.YYYY")} - #{moment(per.to).format("DD.MM.YYYY")}

                      - n = 1
                else if (n == 1)
                      hr
                      h4 Gremienmitgliedschaft
                      each comm in committees
                          if(comm._id == mem.grem_id)
                              p Gremium: #{comm._name}
                      p Von: #{moment(mem.from).format("DD.MM.YYYY")}
                      if(mem.successor)
                          p Nachr&uuml;cker: ja
                      else
                          p Nachr&uuml;cker: nein
                      p Bis: #{moment(mem.to).format("DD.MM.YYYY")}
                      p Grund: #{mem.reason}
                      each per in periods
                          if(mem.period_id == per._id)
                              p Periode: #{moment(per.from).format("DD.MM.YYYY")} - #{moment(per.to).format("DD.MM.YYYY")}
        - n = 0
    a(href='/search') Zur&uuml;ck zum Suchinterface